@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.tile {
  background: var(--bs-red);
  color: $color-contrast-light;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;

  &-number {
    font-size: 4em;
  }
  &-text {
  }
}
